﻿@keyframes transitionInFromBottomToTop {
    from {
        opacity: 0;
        top: 100%
    }
    to {
        opacity: 1;
        top: 0
    }
}

@keyframes transitionInFromBottom {
    from {
        opacity: 0;
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes transitionInFromRight {
    from {
        opacity: 0;
        transform: translateX(20%)
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes transitionOutFromRight {
    from {
        opacity: 1;
        transform: translateX(0)
    }
    to {
        opacity: 0;
        transform: translateX(-100%)
    }
}

@keyframes transitionOutFromLeft {
    from {
        opacity: 1;
        transform: translateX(0)
    }
    to {
        opacity: 0;
        transform: translateX(100%)
    }
}

@keyframes ping {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-20px)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes pingRight {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(0.5rem)
    }
    100% {
        transform: translateY(0)
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #004e70;
    background: #F1F1F1
}

input,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}

.pslp-header {
    background: #fff
}

.pslp-preheader {
    background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%23E7EDF3%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23fff%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
    background-image: -webkit-linear-gradient(14deg, #E7EDF3 0%, #fff 100%);
    background-image: -moz-linear-gradient(14deg, #E7EDF3 0%, #fff 100%);
    background-image: -ms-linear-gradient(14deg, #E7EDF3 0%, #fff 100%);
    background-image: linear-gradient(14deg, #E7EDF3 0%, #fff 100%)
}

@media all and (min-width: 768px) {
    .pslp-preheader {
        background: none
    }
}

.pslp-preheader.pslp-preheader-cookie .pslp-preheader-btn {
    background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(232, 232, 232, 0.2) 60%, rgba(232, 232, 232, 0.2) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(232, 232, 232, 0.2) 60%, rgba(232, 232, 232, 0.2) 100%);
    background-image: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(232, 232, 232, 0.2) 60%, rgba(232, 232, 232, 0.2) 100%);
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(232, 232, 232, 0.2) 60%, rgba(232, 232, 232, 0.2) 100%)
}

.pslp-preheader-ctt {
    font-weight: 600;
    color: #6A6B6D
}

.pslp-preheader-ctt .ps-ico {
    font-weight: 700
}

.pslp-logo-area {
    text-align: center
}

@media all and (min-width: 768px) {
    .pslp-logo-area {
        text-align: left
    }
}

a.pslp-floating-cta,
a.pslp-cover-cta,
a.pslp-fm-btn,
button.pslp-floating-cta,
button.pslp-cover-cta,
button.pslp-fm-btn,
input.pslp-floating-cta,
input.pslp-cover-cta,
input.pslp-fm-btn {
    background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%23fa3686%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23c50553%22%20offset%3d%2250%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%2393043e%22%20offset%3d%2260%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%2393043e%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
    background-image: -webkit-linear-gradient(270deg, #fa3686 0%, #c50553 50%, #93043e 60%, #93043e 100%);
    background-image: -moz-linear-gradient(270deg, #fa3686 0%, #c50553 50%, #93043e 60%, #93043e 100%);
    background-image: -ms-linear-gradient(270deg, #fa3686 0%, #c50553 50%, #93043e 60%, #93043e 100%);
    background-image: linear-gradient(270deg, #fa3686 0%, #c50553 50%, #93043e 60%, #93043e 100%)
}

.pslp-cover-opening {
    text-align: center
}

.pslp-cover-opening .pslp-cover-title,
.pslp-cover-opening .pslp-cover-text,
.pslp-cover-opening .pslp-cover-button {
    margin: 0 0 1.5rem
}

.pslp-cover-opening .pslp-cover-ico svg {
    width: 6rem;
    height: 6rem
}

.pslp-cover-opening .pslp-cover-title {
    font-weight: 300;
    font-size: 1.71rem;
    letter-spacing: -.07rem
}

.pslp-cover-opening .pslp-cover-title sup {
    font-size: .5em
}

.pslp-cover-opening .pslp-cover-text {
    font-weight: 300;
    font-size: .95em;
    line-height: 1.25em
}

.pslp-cover-opening .pslp-cover-cta {
    line-height: 3.5rem;
    box-shadow: 1px 17px 48px -26px rgba(0, 0, 0, 0.6)
}

@media all and (min-width: 768px) {
    .pslp-cover-opening {
        padding-top: 14rem
    }
    .pslp-cover-opening .pslp-video-bg {
        left: initial
    }
    .pslp-cover-opening .pslp-cover-title,
    .pslp-cover-opening .pslp-cover-text,
    .pslp-cover-opening .pslp-cover-button {
        margin: 0 0 2rem
    }
    .pslp-cover-opening .pslp-cover-title {
        font-size: 2.28rem
    }
    .pslp-cover-opening .pslp-cover-text {
        font-size: 1.28rem
    }
}

@media all and (min-width: 990px) {
    .pslp-cover-opening {
        text-align: left
    }
    .pslp-cover-opening .pslp-video-bg {
        left: 0
    }
    .pslp-cover-opening .ps-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }
    .pslp-cover-opening .pslp-cover-title,
    .pslp-cover-opening .pslp-cover-text,
    .pslp-cover-opening .pslp-cover-button {
        margin: 0 0 2rem
    }
    .pslp-cover-opening .pslp-cover-title {
        font-size: 2.28rem
    }
    .pslp-cover-opening .pslp-cover-text {
        font-size: 1.14rem
    }
}

@media all and (max-width: 767px) {
    .pslp-cover-opening-model1,
    .pslp-cover-opening-model2,
    .pslp-cover-opening-model3 {
        padding-top: 22rem;
        padding-bottom: 1rem;
        background-position: bottom center
    }
}

@media all and (min-width: 768px) and (max-width: 989px) {
    .pslp-cover-opening-model1,
    .pslp-cover-opening-model2,
    .pslp-cover-opening-model3 {
        padding-top: 32rem;
        background-position: top center
    }
    .pslp-cover-opening-model1 .pslp-cover-cta,
    .pslp-cover-opening-model2 .pslp-cover-cta,
    .pslp-cover-opening-model3 .pslp-cover-cta {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100% !important
    }
}

@media all and (min-width: 990px) {
    .pslp-cover-opening-model1,
    .pslp-cover-opening-model2,
    .pslp-cover-opening-model3 {
        min-height: 90vh;
        padding-top: 11rem;
        background-position: top center
    }
}

.pslp-cover-opening-model1 .ps-container,
.pslp-cover-opening-model2 .ps-container,
.pslp-cover-opening-model3 .ps-container {
    position: static;
    transform: none
}

.pslp-cover-opening-model1 .pslp-cover-card,
.pslp-cover-opening-model2 .pslp-cover-card,
.pslp-cover-opening-model3 .pslp-cover-card {
    padding: 6rem 3rem 3rem 3rem;
    background: rgba(0, 78, 112, 0.9);
    border-radius: 3px;
    position: relative;
    text-align: left
}

.pslp-cover-opening-model1 .pslp-cover-card:before,
.pslp-cover-opening-model2 .pslp-cover-card:before,
.pslp-cover-opening-model3 .pslp-cover-card:before {
    position: absolute;
    content: '';
    display: block;
    top: -2.5rem;
    left: 3rem;
    width: 8rem;
    height: 6.4rem;
    background: url(../img/auto-quotes.svg) center center no-repeat;
    background-size: 100% auto
}

@media all and (max-width: 767px) {
    .pslp-cover-opening-model1 .pslp-cover-card:before,
    .pslp-cover-opening-model2 .pslp-cover-card:before,
    .pslp-cover-opening-model3 .pslp-cover-card:before {
        top: -2rem;
        left: 2rem;
        width: 3rem;
        height: 4.8rem
    }
}

@media all and (max-width: 767px) {
    .pslp-cover-opening-model1 .pslp-cover-card,
    .pslp-cover-opening-model2 .pslp-cover-card,
    .pslp-cover-opening-model3 .pslp-cover-card {
        padding: 4rem 2rem 2rem 2rem
    }
}

.pslp-cover-opening-model1 .pslp-cover-title,
.pslp-cover-opening-model1 .pslp-cover-text,
.pslp-cover-opening-model2 .pslp-cover-title,
.pslp-cover-opening-model2 .pslp-cover-text,
.pslp-cover-opening-model3 .pslp-cover-title,
.pslp-cover-opening-model3 .pslp-cover-text {
    color: #fff
}

.pslp-cover-opening-model1 .pslp-cover-title,
.pslp-cover-opening-model2 .pslp-cover-title,
.pslp-cover-opening-model3 .pslp-cover-title {
    letter-spacing: 0;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.4rem
}

.pslp-cover-opening-model1 .pslp-cover-title span,
.pslp-cover-opening-model2 .pslp-cover-title span,
.pslp-cover-opening-model3 .pslp-cover-title span {
    display: block;
    font-weight: 300;
    font-size: .8em;
    margin-bottom: 1rem
}

.pslp-cover-opening-model1 .pslp-cover-title strong,
.pslp-cover-opening-model2 .pslp-cover-title strong,
.pslp-cover-opening-model3 .pslp-cover-title strong {
    font-weight: 600
}

@media all and (min-width: 768px) {
    .pslp-cover-opening-model1 .pslp-cover-title,
    .pslp-cover-opening-model2 .pslp-cover-title,
    .pslp-cover-opening-model3 .pslp-cover-title {
        font-size: 2.2rem
    }
}

@media all and (min-width: 990px) {
    .pslp-cover-opening-model1 .pslp-cover-title,
    .pslp-cover-opening-model2 .pslp-cover-title,
    .pslp-cover-opening-model3 .pslp-cover-title {
        font-size: 2.28rem
    }
}

.pslp-cover-opening-model1 .pslp-cover-text,
.pslp-cover-opening-model2 .pslp-cover-text,
.pslp-cover-opening-model3 .pslp-cover-text {
    line-height: 1.4em
}

@media all and (max-width: 767px) {
    .pslp-cover-opening-model1 .pslp-cover-text,
    .pslp-cover-opening-model2 .pslp-cover-text,
    .pslp-cover-opening-model3 .pslp-cover-text {
        font-weight: 400
    }
}

.pslp-cover-opening-model1 .pslp-cover-cta,
.pslp-cover-opening-model2 .pslp-cover-cta,
.pslp-cover-opening-model3 .pslp-cover-cta {
    width: 100%
}

.pslp-cover-opening-model2 .pslp-cover-card:before {
    width: 8rem;
    height: 6.4rem;
    background: url(../img/imovel-quotes.svg) center center no-repeat
}

@media all and (min-width: 990px) {
    .pslp-cover-opening-model3 {
        min-height: 100vh;
        padding-top: 15rem
    }
}

.pslp-cover-opening-model3 .pslp-cover-card:before {
    width: 8rem;
    height: 6.4rem;
    background: url(../img/quotes.svg) center center no-repeat
}

.pslp-features {
    background: #F1F1F1
}

@media all and (min-width: 768px) {
    .pslp-features {
        background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%23fff%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23F1F1F1%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
        background-image: -webkit-linear-gradient(45deg, #fff 0%, #F1F1F1 100%);
        background-image: -moz-linear-gradient(45deg, #fff 0%, #F1F1F1 100%);
        background-image: -ms-linear-gradient(45deg, #fff 0%, #F1F1F1 100%);
        background-image: linear-gradient(45deg, #fff 0%, #F1F1F1 100%)
    }
}

.pslp-features-ico svg {
    width: 4rem;
    height: 4rem
}

.pslp-features-ico .pslp-features-ico-color {
    fill: #004e70
}

.pslp-features-title {
    color: #004e70;
    font-weight: 700;
    font-size: 1.28rem;
    line-height: 1.37em;
    letter-spacing: 0
}

@media all and (min-width: 768px) {
    .pslp-features-title {
        font-size: 2.28rem;
        margin-bottom: 2rem
    }
}

.pslp-features-subtitle {
    color: #a2a2a2;
    font-weight: 300;
    font-size: 1.14rem;
    line-height: 1.37em
}

@media all and (max-width: 767px) {
    .pslp-features-subtitle {
        letter-spacing: 0;
        color: #555861
    }
}

.pslp-features-text {
    letter-spacing: -0.03rem;
    color: #777
}

.pslp-features-text a {
    font-weight: 600;
    color: #33BFFF;
    text-decoration: none;
    -webkit-transition: all .25s ease-out 0s;
    -moz-transition: all .25s ease-out 0s;
    -ms-transition: all .25s ease-out 0s;
    -o-transition: all .25s ease-out 0s;
    transition: all .25s ease-out 0s
}

.pslp-features-text a:hover {
    color: #008ccc
}

.pslp-features-itens {
    margin-top: 1.5rem
}

.pslp-features-card {
    background: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 1.42rem;
    box-shadow: 1px 45px 40px -50px rgba(0, 0, 0, 0.4);
    color: #777;
    overflow: hidden;
    box-sizing: border-box
}

.pslp-fi-ico {
    margin: 0 0 1.5rem
}

.pslp-fi-ico svg {
    width: 4rem;
    height: 4rem
}

.pslp-fi-ico .pslp-fi-ico-color {
    fill: #004e70
}

.pslp-fi-title {
    color: #004e70;
    font-weight: 300;
    font-size: 1.71rem;
    margin: 0 0 1.5rem;
    letter-spacing: -0.06rem;
    text-overflow: ellipsis
}

.pslp-fi-subtitle {
    font-weight: 300;
    font-size: 1.28rem;
    letter-spacing: -0.03rem
}

.pslp-fi-text {
    line-height: 1.35em;
    font-size: 0.85rem
}

.pslp-features-model1 {
    background: #fff
}

.pslp-features-model1 .pslp-features-card {
    padding: 0;
    border: 0;
    box-shadow: none
}

.pslp-features-model1 .pslp-fi-ico {
    width: 6rem;
    height: 6rem;
    background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%232FC5FF%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%233DACFF%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
    background-image: -webkit-linear-gradient(270deg, #2FC5FF 0%, #3DACFF 100%);
    background-image: -moz-linear-gradient(270deg, #2FC5FF 0%, #3DACFF 100%);
    background-image: -ms-linear-gradient(270deg, #2FC5FF 0%, #3DACFF 100%);
    background-image: linear-gradient(270deg, #2FC5FF 0%, #3DACFF 100%);
    border-radius: 99px;
    line-height: 6rem;
    margin: 0 auto 1.5rem
}

.pslp-features-model1 .pslp-fi-ico svg {
    vertical-align: middle;
    width: 3.5rem;
    height: 3.5rem;
    fill: #fff
}

.pslp-features-model1 .pslp-fi-title {
    letter-spacing: -0.03rem;
    color: #555861;
    font-size: 1.14rem
}

@media all and (min-width: 990px),
all and (min-width: 768px) and (max-width: 989px) {
    .pslp-features-model1 .pslp-features-item {
        width: 20%;
        padding-left: 1.40rem;
        padding-right: 1.40rem
    }
    .pslp-features-model1 .ps-sm-mod3.pslp-features-item {
        width: 25%
    }
}

.pslp-features-model2 {
    background: #F1F1F1
}

@media all and (min-width: 768px) and (max-width: 989px) {
    .pslp-features-model2 .ps-sm-mod3 {
        padding-left: .5rem;
        padding-right: .5rem
    }
}

@media all and (min-width: 990px) and (max-width: 1199px) {
    .pslp-features-model2 .ps-sm-mod3 {
        padding-left: .5rem;
        padding-right: .5rem
    }
}

.pslp-features-model2 .pslp-fi-title {
    color: #004e70;
    font-size: 1.5rem
}

.pslp-features-model2 .pslp-fi-ico {
    margin-bottom: 1rem
}

.pslp-features-model2 .pslp-fi-ico svg {
    width: 4rem;
    height: 4rem;
    fill: #33BFFF
}

.pslp-features-model2 .pslp-features-card {
    padding: 13rem 1.5rem 2rem 1.5rem;
    min-height: 23rem;
    position: relative;
    overflow: hidden;
    text-align: left
}

@media all and (min-width: 768px) {
    .pslp-features-model2 .pslp-features-card {
        padding-top: 10rem;
        min-height: 25rem
    }
}

@media all and (min-width: 990px) {
    .pslp-features-model2 .pslp-features-card {
        padding-top: 11rem;
        min-height: 20rem
    }
}

.pslp-features-model2 .pslp-fi-title {
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600
}

.pslp-features-model2 .pslp-fi-subtitle {
    font-size: 1.28rem
}

.pslp-features-model2 .pslp-fi-text small,
.pslp-features-model2 .pslp-fi-subtitle small {
    display: block;
    font-size: .78rem;
    text-transform: uppercase;
    font-weight: 300
}

.pslp-features-model2 .pslp-fi-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15.71rem
}

.pslp-features-model2 sup small {
    font-size: 50%
}

.pslp-features-model3 {
    background: #F1F1F1
}

.pslp-features-model3 .pslp-fi-title {
    color: #004e70;
    font-size: 1.5rem
}

.pslp-features-model3 .pslp-fi-ico {
    margin-bottom: 1rem
}

.pslp-features-model3 .pslp-fi-ico svg {
    width: 4rem;
    height: 4rem;
    fill: #33BFFF
}

.pslp-features-model3 .pslp-features-card {
    padding: 16rem 2rem 2rem 2rem;
    min-height: 15rem;
    position: relative;
    overflow: hidden;
    text-align: left
}

@media all and (min-width: 990px) {
    .pslp-features-model3 .pslp-features-card {
        padding-top: 11rem
    }
}

@media all and (min-width: 768px) and (max-width: 989px) {
    .pslp-features-model3 .pslp-features-card {
        padding-top: 10rem;
        min-height: 17rem
    }
}

.pslp-features-model3 .pslp-fi-title {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 0
}

.pslp-features-model3 .pslp-fi-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15.71rem
}

.pslp-features-model4,
.pslp-features-model5 {
    text-align: left;
    overflow: hidden
}

.pslp-features-model4 .pslp-features-card,
.pslp-features-model5 .pslp-features-card {
    padding: 0;
    border: 0;
    box-shadow: none;
    background: none;
    text-align: center
}

.pslp-features-model4 .pslp-fi-ico,
.pslp-features-model5 .pslp-fi-ico {
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    margin: 0 auto 1rem
}

.pslp-features-model4 .pslp-fi-ico svg,
.pslp-features-model5 .pslp-fi-ico svg {
    vertical-align: middle;
    width: 3.5rem;
    height: 3.5rem;
    fill: #33BFFF
}

.pslp-features-model4 .pslp-features-title,
.pslp-features-model5 .pslp-features-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0
}

.pslp-features-model4 .pslp-features-text,
.pslp-features-model5 .pslp-features-text {
    color: #A2A2A2;
    font-weight: 700;
    margin-top: .5rem
}

.pslp-features-model4 .pslp-fi-title,
.pslp-features-model5 .pslp-fi-title {
    font-size: 1.14rem
}

.pslp-features-model4 .pslp-features-intro,
.pslp-features-model5 .pslp-features-intro {
    padding: 0 1.64rem
}

@media all and (min-width: 768px) {
    .pslp-features-model4 .pslp-features-intro,
    .pslp-features-model5 .pslp-features-intro {
        padding: 0 3.64rem
    }
}

.pslp-features-model4 .pslp-features-image,
.pslp-features-model5 .pslp-features-image {
    padding-right: 0;
    text-align: right
}

.pslp-features-model4 .pslp-features-image img,
.pslp-features-model5 .pslp-features-image img {
    padding-top: 2rem
}

@media all and (max-width: 767px) {
    .pslp-features-model4 .ps-btn,
    .pslp-features-model5 .ps-btn {
        margin: 2rem 0
    }
}

.pslp-features-model4 {
    background: #fff
}

.pslp-features-model5 {
    background: #f1f1f1
}

.pslp-cover-movie {
    background: #fff
}

.pslp-cover-movie .pslp-csm-title {
    font-size: 1.71rem;
    margin-bottom: 0
}

.pslp-cover-movie-model1,
.pslp-cover-movie-model2 {
    background: #F1F1F1
}

@media all and (min-width: 768px) {
    .pslp-cover-movie-model1,
    .pslp-cover-movie-model2 {
        background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%23fff%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23F1F1F1%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
        background-image: -webkit-linear-gradient(45deg, #fff 0%, #F1F1F1 100%);
        background-image: -moz-linear-gradient(45deg, #fff 0%, #F1F1F1 100%);
        background-image: -ms-linear-gradient(45deg, #fff 0%, #F1F1F1 100%);
        background-image: linear-gradient(45deg, #fff 0%, #F1F1F1 100%)
    }
}

.pslp-cover-movie-model1 .pslp-csm-title,
.pslp-cover-movie-model2 .pslp-csm-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700
}

.pslp-cover-movie-model1 .pslp-csm-text,
.pslp-cover-movie-model2 .pslp-csm-text {
    color: #a2a2a2
}

@media all and (max-width: 767px) {
    .pslp-cover-movie-model2 {
        background: #fff
    }
}

.pslp-faq {
    background: #fff
}

.pslp-faq-title {
    font-weight: 300;
    font-size: 1.5rem
}

.pslp-faq-question {
    font-weight: 300;
    font-size: 1.14rem;
    line-height: 1.4em
}

.pslp-faq-question:before {
    line-height: 1.7em
}

.pslp-faq-content {
    color: #a2a2a2
}

.pslp-faq-content a {
    color: #33BFFF;
    text-decoration: none;
    font-weight: 700
}

.pslp-footnotes {
    color: #555861;
    font-weight: 300;
    background: #F1F1F1
}

#pslp-form-modal .ps-frm-lbl {
    color: #a2a2a2;
    font-weight: 300
}

#pslp-form-modal .pslp-fms-title {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
    color: #555861
}

@media all and (min-width: 768px) {
    #pslp-form-modal .pslp-fms-title {
        font-size: 1.71rem;
        margin: 1.5rem 0 2rem
    }
}

#pslp-form-modal .pslp-fm-feedback-title {
    font-weight: 300
}

.consorcio-simulator {
    background: rgba(85, 88, 97, 0.8);
    color: #fff;
    padding-bottom: 0
}

.consorcio-simulator .pslp-features-title {
    font-weight: 300;
    color: #fff
}

@media all and (max-width: 767px) {
    .consorcio-simulator .pslp-fm-btn {
        font-size: .6rem
    }
}

.consorcio-simulator .ps-tabs {
    margin-top: 2rem
}

.consorcio-simulator .ps-tabs li a {
    color: #fff;
    font-weight: 400
}

.consorcio-simulator .ps-tabs li a.ps-tab-selected {
    position: relative;
    overflow: visible
}

.consorcio-simulator .ps-tabs li a.ps-tab-selected:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1rem solid #84868D;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent
}

@media all and (max-width: 767px),
all and (min-width: 768px) and (max-width: 989px) {
    .consorcio-simulator .ps-tabs li span {
        display: none
    }
}

@media all and (max-width: 767px) {
    .consorcio-simulator .ps-tabs li {
        width: 50%
    }
}

.consorcio-simulator .ps-tab-content {
    margin-top: 2rem;
    padding-bottom: 2rem;
    background: #84868D
}

@media all and (max-width: 767px) {
    .consorcio-simulator .ps-tab-content {
        padding-left: 0;
        padding-right: 0
    }
}

.consorcio-simulator h3 {
    font-weight: 300;
    font-size: 1.5rem
}

@media all and (max-width: 767px) {
    .consorcio-simulator h3 {
        font-size: 1.14rem
    }
}

.consorcio-simulator .ps-frm-select {
    padding: .5rem 1rem;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px
}

@media all and (max-width: 767px) {
    .consorcio-simulator .ps-frm-select {
        margin: 0 1.9rem
    }
}

@media all and (min-width: 768px) and (max-width: 989px) {
    .consorcio-simulator .ps-frm-select {
        margin: 0 4rem
    }
}

@media all and (min-width: 1200px) {
    .consorcio-simulator .ps-frm-select {
        margin: 0 1.7rem
    }
}

.consorcio-simulator .ps-frm-select:after {
    right: 1rem;
    font-size: 1.2rem;
    padding: 0;
    top: 50%;
    transform: translateY(-50%)
}

.consorcio-simulator .ps-frm-select select {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700
}

.consorcio-simulator .pslp-ico-go {
    margin: 2rem 0 0;
    display: inline-block;
    font-size: 1.5rem;
    transform: rotate(90deg);
    opacity: .4
}

#modalCaminhoes .ps-modal-content,
#modalAgricolas .ps-modal-content {
    padding-top: 0
}

@media all and (min-width: 768px) and (max-width: 989px),
all and (min-width: 990px) and (max-width: 1199px) {
    #modalCaminhoes .ps-modal-content .ps-row-nested,
    #modalAgricolas .ps-modal-content .ps-row-nested {
        margin-left: -2rem;
        margin-right: -2rem
    }
}

#modalCaminhoes .pslp-cm-subtitle,
#modalAgricolas .pslp-cm-subtitle {
    background: #F1F1F1;
    color: #5A5D66;
    padding: .8rem 0;
    font-size: .78rem
}

#modalCaminhoes .pslp-cm-subtitle strong,
#modalAgricolas .pslp-cm-subtitle strong {
    font-size: .78rem;
    text-transform: uppercase;
    letter-spacing: .07rem
}

#modalCaminhoes .pslp-cm-subtitle label,
#modalAgricolas .pslp-cm-subtitle label {
    display: block;
    opacity: .7;
    margin-bottom: .1rem
}

@media all and (max-width: 767px) {
    #modalCaminhoes .pslp-cm-subtitle label,
    #modalAgricolas .pslp-cm-subtitle label {
        margin-top: .5rem
    }
}

#modalCaminhoes .pslp-cm-list,
#modalAgricolas .pslp-cm-list {
    margin: 0 0 2rem;
    padding: 0
}

#modalCaminhoes .pslp-cm-list li,
#modalAgricolas .pslp-cm-list li {
    list-style: none;
    border-top: 1px solid #F1F1F1;
    padding: .5rem 0;
    font-weight: bold
}

#modalCaminhoes .pslp-cm-list li:first-child,
#modalAgricolas .pslp-cm-list li:first-child {
    border-top: 0
}

#ps-frm-enderecoCompleto1 {
    border-bottom: none !important
}

.pslp-consorcio-auto .pslp-cover-opening-model1 {
    background-size: cover;
    background-position: center 70px;
    min-height: 100vh
}

@media (min-width: 990px) {
    .pslp-consorcio-auto .pslp-cover-opening-model1 {
        padding-top: 14rem
    }
}

@keyframes switcher-on {
    0% {
        right: 2.2rem;
        width: 1.3rem;
        height: 1.3rem
    }
    50% {
        width: 1.9rem;
        height: 1.3rem
    }
    100% {
        right: .35rem;
        width: 1.3rem;
        height: 1.3rem
    }
}

@keyframes switcher-off {
    0% {
        right: .35rem;
        width: 1.3rem;
        height: 1.3rem
    }
    50% {
        width: 1.9rem;
        height: 1.3rem
    }
    100% {
        right: 2.2rem;
        width: 1.3rem;
        height: 1.3rem
    }
}

.ps-frm-onOff {
    position: relative;
    width: 4rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ps-frm-onOff.ps-frm-onOff-hr {
    margin-top: 2rem
}

.ps-frm-onOff-lbl {
    display: block;
    overflow: hidden;
    cursor: pointer
}

.ps-frm-onOff-inner {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: left
}

.ps-frm-onOff-inner:before,
.ps-frm-onOff-inner:after {
    display: block;
    width: 100%;
    height: 1.8rem;
    padding: .35rem 0 0 0;
    line-height: 1.5rem;
    font-size: 1rem;
    color: white;
    font-family: 'ps_glyph';
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 24px;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: .25s;
    transition-delay: .1s
}

.ps-frm-onOff-inner:before {
    float: left;
    opacity: 0;
    content: "";
    font-family: 'ps-lp-icons' !important;
    line-height: 1.45rem;
    padding-left: .71rem;
    background: linear-gradient(to left, #2FC5FF 0%, #3DACFF 100%);
    color: #FFFFFF;
    font-size: 0.85em
}

.ps-frm-onOff-inner:after {
    position: absolute;
    content: "";
    padding-right: .71rem;
    background-color: #C7C7C7;
    text-align: right
}

.ps-frm-onOff-switch {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 1.71rem;
    position: absolute;
    top: .2rem;
    bottom: 0;
    right: 2.2rem;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.17);
    animation: switcher-off 0.3s ease-out
}

.ps-frm-onOff-ipt:checked+.ps-frm-onOff-lbl .ps-frm-onOff-switch {
    right: .28rem;
    animation: switcher-on 0.3s ease-out
}

.ps-frm-onOff-ipt:checked+.ps-frm-onOff-lbl .ps-frm-onOff-inner:before {
    opacity: 1
}

.ps-frm-onOff-ipt:checked+.ps-frm-onOff-lbl .ps-frm-onOff-inner:after {
    opacity: 0
}

.ps-frm-onOff-ipt:disabled+.ps-frm-onOff-lbl {
    opacity: .5;
    cursor: not-allowed
}

.ps-frm-onOff-ipt:disabled+.ps-frm-onOff-lbl .ps-frm-onOff-inner:before {
    background-color: #9f9f9f
}

.pslp-fm-consorcio-select {
    z-index: 2
}

.pslp-fm-consorcio-switcher {
    padding-top: 1rem;
    text-align: center;
    position: relative;
    z-index: 1;
    background: #F1F1F1;
    padding: .5rem 1rem 1rem;
    color: #555861;
    font-size: .78rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    margin-bottom: -.5rem
}

.pslp-fm-consorcio-switcher .ps-btn.ps-btn-inline {
    line-height: 2rem;
    width: 48%
}

@media all and (max-width: 767px) {
    .pslp-fm-consorcio-switcher {
        margin: 0 1.9rem -.5rem
    }
}

@media all and (min-width: 768px) and (max-width: 989px) {
    .pslp-fm-consorcio-switcher {
        margin: 0 4rem -.5rem
    }
}

@media all and (min-width: 1200px) {
    .pslp-fm-consorcio-switcher {
        margin: 0 1.7rem -.5rem
    }
}

.pslp-fm-cs-title {
    position: absolute;
    left: 1rem;
    line-height: 1.5rem
}

.slick-dots {
    visibility: hidden
}


button.btn.btn-link {
	font-weight: 300;
    font-size: 1.14rem;
    line-height: 1.4em;
    text-decoration: none;
    color: #555861;
}


/*# sourceMappingURL=portoseguro-consorcio-skin.css.map */