<div class="pslp-fm-consorcio-cota">
    <div class="pslp-fm-main-highlight"><label>Valor da parcela</label> <strong>R$ 412,46</strong></div>
    <div class="pslp-fm-second-highlight"><label>Crédito de</label> <strong>R$ 65.000,00</strong></div>
    <a href="javascript:;" class="ps-btn ps-btn-primary pslp-fm-btn pslp-form-init" data-gtm-type="click"
       data-gtm-clicktype="button" data-gtm-name="Solicite uma proposta" tabindex="0">Solicite uma proposta</a>
    <div class="pslp-fm-cc-infos"> Prazo de undefined meses</div>
</div>
